body{
    margin:0;
    font-family:Arial,sans-serif;
    direction:rtl;
    background:white;
    color:#222;
}

..hero{
    background:linear-gradient(135deg,#84b6df,#6ea5d3);
    text-align:center;
    padding:50px 20px;
    border-bottom:6px solid #d6b654;
}

.logo{
    width:350px;
    max-width:90%;
    display:block;
    margin:0 auto 20px;
}

.hero h1{
    font-size:72px;
    color:#d6b654;
    font-weight:700;
    margin:15px 0;
    text-shadow:2px 2px 6px rgba(0,0,0,.15);
}

.hero p{
    font-size:20px;
    color:#555;
}

nav{
    background:#5aa36a;
    text-align:center;
    padding:18px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    margin:0 15px;
    font-size:18px;
}

nav a:hover{
    text-decoration:underline;
}

.search-section{
    text-align:center;
    padding:30px;
}

.search-section input{
    width:80%;
    max-width:600px;
    padding:15px;
    font-size:18px;
    border:2px solid #d6b654;
    border-radius:10px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
    padding:30px;
}

.card{
    background:white;
    border-top:6px solid #84b6df;
    border-radius:16px;
    box-shadow:0 6px 18px rgba(0,0,0,.12);
}

.card:hover{
    transform:translateY(-4px);
}

.card img{
    width:100%;
    display:block;
}

.card h3{
    color:#d6b654;
    padding:15px;
    margin:0;
}

.card p{
    padding:0 15px 15px;
    color:#666;
}

.card button{
    background:#d6b654;
    color:white;
    border:none;
    border-radius:8px;
    padding:10px 20px;
    font-weight:bold;
    cursor:pointer;
}

footer{
    background:#d6b654;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
